In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv("C:/Users/Yash Bohra/Desktop/data/kc_house_data.csv")

In [3]:
data.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [4]:
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [5]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
data.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [7]:
labels = data['price']
conv_dates = [1 if values == 2014 else 0 for values in data.date ]
data['date'] = conv_dates

train1 = data.drop(['id', 'price'],axis=1)
X = data.drop(['id', 'price'],axis=1)
y = data["price"]

In [8]:
train1.head(10)

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train , X_test , y_train , y_test = train_test_split(train1 , labels , test_size = 0.10,random_state =2)

In [11]:
X.head(10)

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [12]:
train1.shape

(21613, 19)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:

reg = LinearRegression()

In [15]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [16]:
reg.score(X_test,y_test)

0.7320342760357841

In [17]:
from sklearn import ensemble
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,
          learning_rate = 0.1, loss = 'ls')

In [18]:
clf.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=5, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=400, n_iter_no_change=None, presort='auto',
             random_state=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [19]:
clf.score(X_test,y_test)

0.9202042887611547

In [20]:
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics

In [21]:
from sklearn.model_selection import cross_val_score
cross_val_score(clf,X,y,cv=10,scoring='r2').mean()

0.895641720492

In [22]:
from sklearn.feature_selection import RFE

In [23]:
selector = RFE(clf, 8, step=1)

In [24]:
selector = selector.fit(X, y)

In [25]:
selector.ranking_

array([12, 11,  6,  1,  4, 10,  1,  3,  8,  1,  1,  7,  1,  9,  2,  1,  1,
        1,  5])

In [26]:
train1.head(10)

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [27]:
train2 = train1.drop(['date','bedrooms','bathrooms','sqft_lot','floors','view','condition','sqft_basement','yr_renovated','zipcode','sqft_lot15'],axis=1)

In [28]:
X=train2

In [29]:
X

,sqft_living,waterfront,grade,sqft_above,yr_built,lat,long,sqft_living15
0,1180,0,7,1180,1955,47.5112,-122.257,1340
1,2570,0,7,2170,1951,47.7210,-122.319,1690
2,770,0,6,770,1933,47.7379,-122.233,2720
3,1960,0,7,1050,1965,47.5208,-122.393,1360
4,1680,0,8,1680,1987,47.6168,-122.045,1800
5,5420,0,11,3890,2001,47.6561,-122.005,4760
6,1715,0,7,1715,1995,47.3097,-122.327,2238
7,1060,0,7,1060,1963,47.4095,-122.315,1650
8,1780,0,7,1050,1960,47.5123,-122.337,1780
9,1890,0,7,1890,2003,47.3684,-122.031,2390
10,3560,0,8,1860,1965,47.6007,-122.145,2210
11,1160,0,7,860,1942,47.6900,-122.292,1330
12,1430,0,7,1430,1927,47.7558,-122.229,1780
13,1370,0,7,1370,1977,47.6127,-122.045,1370
14,1810,0,7,1810,1900,47.6700,-122.394,1360
15,2950,0,9,1980,1979,47.5714,-122.375,2140
16,1890,0,7,1890,1994,47.7277,-121.962,1890
17,1600,0,7,1600,1916,47.6648,-122.343,1610
18,1200,0,7,1200,1921,47.3089,-122.210,1060
19,1250,0,7,1250,1969,47.3343,-122.306,1280
20,1620,0,7,860,1947,47.7025,-122.341,1400
21,3050,0,9,2330,1968,47.5316,-122.233,4110
22,2270,0,8,2270,1995,47.3266,-122.169,2240
23,1070,0,7,1070,1985,47.3533,-122.166,1220
24,2450,0,8,2450,1985,47.3739,-122.172,2200
25,1710,0,6,1710,1941,47.3048,-122.218,1030
26,2450,0,8,1750,1915,47.6386,-122.360,1760
27,1400,0,8,1400,1909,47.6221,-122.314,1860
28,1520,0,7,790,1948,47.6950,-122.304,1520
29,2570,0,8,2570,2005,47.7073,-122.110,2630
...,...,...,...,...,...,...,...,...
21583,710,0,7,710,1943,47.6413,-122.329,1370
21584,1260,0,7,940,2007,47.5621,-122.384,1310
21585,1870,0,7,1870,2009,47.3339,-122.055,2170
21586,1430,0,8,1430,2009,47.6707,-122.381,1430
21587,1520,0,8,1520,2006,47.7337,-122.309,1520
21588,1210,0,8,1020,2007,47.6756,-122.375,1210
21589,2540,0,8,2540,2010,47.3452,-122.022,2540
21590,4910,0,11,3110,2007,47.6502,-122.066,4560
21591,2770,0,8,2770,2014,47.5001,-122.232,1810
21592,1190,0,8,1190,2008,47.6542,-122.346,1180
21593,4170,0,10,4170,2006,47.5354,-122.181,3030
21594,2500,0,8,2500,2008,47.3749,-122.107,2530
21595,1530,0,8,1480,2006,47.6533,-122.346,1530
21596,3600,0,9,3600,2014,47.4822,-122.131,3550
21597,3410,0,10,3410,2007,47.5653,-122.223,2290
21598,3118,0,9,3118,2014,47.2931,-122.264,2673
21599,3990,0,9,3990,2003,47.6857,-122.046,3370
21600,4470,0,11,4470,2008,47.6321,-122.200,2780
21601,1425,0,8,1425,2008,47.6963,-122.318,1285
21602,1500,0,6,1500,2014,47.3095,-122.002,1320
21603,2270,0,8,2270,2003,47.5389,-121.881,2270
21604,1490,0,8,1490,2014,47.5699,-122.288,1400
21605,2520,0,9,2520,2014,47.5137,-122.167,2520
21606,3510,0,9,2600,2009,47.5537,-122.398,2050
21607,1310,0,8,1180,2008,47.5773,-122.409,1330
21608,1530,0,8,1530,2009,47.6993,-122.346,1530
21609,2310,0,8,2310,2014,47.5107,-122.362,1830
21610,1020,0,7,1020,2009,47.5944,-122.299,1020
21611,1600,0,8,1600,2004,47.5345,-122.069,1410
21612,1020,0,7,1020,2008,47.5941,-122.299,1020

In [30]:
X_train , X_test , y_train , y_test = train_test_split(X,y, test_size = 0.10,random_state =2)

In [31]:
from sklearn import ensemble
clf2 = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,
          learning_rate = 0.1, loss = 'ls')

In [32]:
from sklearn.model_selection import cross_val_score
cross_val_score(clf2,X,y,cv=10,scoring='r2').mean()

0.8803323844092757

In [33]:
from sklearn.feature_selection import RFECV
selector = RFECV(clf2, step=1, cv=5)
selector = selector.fit(X, y)

In [34]:
selector.score(X,y)

0.9585154351092801

In [35]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [36]:
# Use the forest's predict method on the test data
predictions = rf.predict(X_test)

In [37]:
rf.score(X_test,y_test)

0.8939787180207586

In [38]:
from sklearn.feature_selection import RFECV
selector1 = RFECV(rf, step=1, cv=5)
selector1 = selector1.fit(X, y)

In [39]:
selector1.score(X,y)

0.9585154351092801

In [ ]:
from sklearn.ensemble import VotingRegressor

In [81]:
eclf = VotingRegressor(estimators=[('rf', rf), ('Gradient boost',selector)],voting='soft', weights=[1,2,3],
       flatten_transform=True)
eclf = eclf.fit(X_train, y_train)
y_pred=eclf.predict(X_test)

NameError: name 'VotingRegressor' is not defined